@import "../../../../../../styles";

.company-title {
  font-size: 32px;
  margin-left: 64px;
}
mat-icon {
  font-size: 40px;
}

.main-toolbar {
  background-color: $jumbo-primary-400;
  color: white;
}
