@import "../../../../../styles";

.table-container {
  table {
    width: 100%;
  }
  width: 80%;
  margin-inline: auto;
  padding-top: 64px;
}

.assistant-header {
  margin-top: 48px;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
}

.buy-button {
  background-color: #2b4fe7;
  margin-top: 64px;
  color: white;
  left: calc(50% - 5vw);
}
