<div class="assistant-container">

  <div class="assistant-header" *ngIf="plane">
    <div class="data">
      Welcome, {{userName}}, here you can make your orders
      <br>
      Plane assigned: {{plane.model}}
      <br>
      Role: {{employeeData.role}}
    </div>

  </div>
  <div class="table-container" *ngIf="products">
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product"> {{product.productInfo.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{product.productInfo.price}}€ </td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef> Current Stock </th>
        <td mat-cell *matCellDef="let product"> {{product.stock ?? 0}} </td>
      </ng-container>

      <ng-container matColumnDef="maxStock">
        <th mat-header-cell *matHeaderCellDef> Max. Stock </th>
        <td mat-cell *matCellDef="let product"> {{product.productInfo.maxStock}} </td>
      </ng-container>

      <form [formGroup]="formGroup">
        <ng-container matColumnDef="orderQuantity"  >
          <th mat-header-cell *matHeaderCellDef> Order. Quantity </th>
          <td mat-cell *matCellDef="let product" [style.width]="'10%'">
            <input type="number" [value]="product.orderQuantity" formControlName="formControl"
            (change)="validateForm($event, product.stock, product.productInfo.maxStock)">
          </td>
        </ng-container>
      </form>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="buy-container">
      <button mat-raised-button class="buy-button">
        <mat-icon>local_shipping</mat-icon>
        <span>Order now</span>
      </button>
    </div>
  </div>
</div>


