<mat-sidenav-container>
  <mat-sidenav
    class="main-sidenav"
    #sideNav
    [mode]="sideNavMode"
  >
    <button
      class="dashboard-button"
      mat-raised-button
    >
      <span class="dashboard-text">
        Manage plane stock
      </span>
      <mat-icon>airplane_ticket</mat-icon>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
   <jumbo-toolbar
     (burgerClicked)="sideNav.toggle()"
   ></jumbo-toolbar>
    <jumbo-travel-page></jumbo-travel-page>
  </mat-sidenav-content>
</mat-sidenav-container>
