@import "../../../../../styles";

.sidenav-container {
  mat-sidenav-content {
    height: calc(100vh);
  }
}
.main-sidenav {
  width: 215px;
  .dashboard-button {
    width: 100%;
    background-color: $jumbo-accent-500;
    color: white;
  }

  .logo {
    width: calc(100% - 16px);
    padding: 8px;
  }

  button {
    display: flex;
  }
  mat-icon {
    margin-right: 16px;
  }
}
